<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="Exclusive"
    gamePrice="R$129,99"
    gameTitle="Play it Now!"
    gameType="PS2"
  ></app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="Digital"
    gamePrice="R$159,99"
    gameTitle="Play it Now!"
    gameType="PS3"
  ></app-card>
  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="Digital"
    gamePrice="R$159,90"
    gameTitle="Exclusive"
    gameType="PS3 | PS4 | PC"
  ></app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="Digital"
    gamePrice="R$179,90"
    gameTitle="Digital"
    gameType="PS3 | PS4 | PC | DISC"
  ></app-card>
</div>
