<div class="menu-bar__container">
  <div class="menu-bar__logo"><img
    src="assets/ps-logo.png"
    alt=""
    width="140px"
    height="32px"
    >
  </div>

  <div class="menu-bar__item">
    <ul>
      <li>
        <a
        class="home"
        >
        <img src='' alt="">HOME</a>
      </li>
      <li>
        <a href="https://www.youtube.com/"
        class="ytb"
        target="_blank">
        <img src="assets/yt-icon.png" alt="">YOUTUBE</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/mauricioittner/"
        class="lkd"
        target="_blank">
        <img src="assets/linkedin.svg" alt="">LINKEDIN</a>
      </li>
      <li>
        <a href="https://github.com/MauricioIttner"
        class="git"
        target="_blank">
        <img src="assets/github.svg" alt="">GITHUB</a>
      </li>
    </ul>
  </div>
</div>
